.about__container {
    display: flex;
    align-items: left;
    height: 80%;
    width: 80vw;
    justify-content: left;
    margin-left: 247px ;
    margin-right: 247px;
}

.section__title {
    color: rgba(0, 0, 0, 0.726);
    font-size: 43px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 70px;
}

.section__subtitle {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 4rem;
}

#title{
    font-size: 2.5rem;
}

#subtitle{
    font-size: 20px;
    margin-bottom: 60px;
}
.about__img {
    width: 360px;
    height: 360px;
    display: flex;
    border: 1px solid black;
    border-radius: 1.5rem; 
    margin-left: 740px;
    position: absolute;
    margin-top: 7px;
}

.about__info {
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: 50px;
}

.grid {
    grid-gap: 1.5rem;
    display: grid;
    gap: 4.5rem;
}

.about__box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 1.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
    width: 150px;
    background-color: rgba(223, 222, 222, 0.408);
}

.about__description {
        padding: 0 4rem 0 0;
        text-align: left;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
        line-height: 1.5;
        font-size: 17px;
        max-width: 670px;
        margin-top: 2px;
        margin-bottom: 0.2px;
}

.about__icon {
    font-size: 1.8rem;
    color: var(--title-color);
}

.button__icon {
    margin-left: 7.5px;
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 220px;
        
    }
    .about__box {
        padding: 0.75rem 0.5rem;
    }

    .about__data {
        text-align: center;
    }

    .about__info {
        justify-content: center;
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}

/* For medium devices */
@media screen and (max-width: 576px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description {
        padding: 0;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .about__info {
        grid-template-columns: repeat(2, 1fr);
    }
}