.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  
  .about__data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section__title {
    color: rgba(0, 0, 0, 0.726);
    font-size: 2.5rem;
    text-align: center;
    margin: 70px 0 10px;
  }
  
  .section__subtitle {
    display: block;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 4rem;
  }
  
  #title {
    font-size: 2.5rem;
  }
  
  #subtitle {
    font-size: 1.25rem;
    margin-bottom: 60px;
  }
  
  .about__img {
    width: 100%;
    max-width: 360px;
    height: auto;
    border: 1px solid black;
    border-radius: 1.5rem;
    margin: 2rem 0;
  }
  
  .about__description {
    text-align: left;
    line-height: 1.5;
    font-size: 17px;
    max-width: 670px;
    margin: 2rem 0;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  
  .about__info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 0.5rem;
    margin-bottom: 50px;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  
  /* .grid {
    display: grid;
    gap: 1.5rem;
  } */
  
  .about__box {
    background-color: rgba(223, 222, 222, 0.408);
    border-radius: 1.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
  }
  
  .about__icon {
    font-size: 1.8rem;
    color: var(--title-color);
  }
  
  .button__icon {
    margin-left: 7.5px;
  }
  
  /* Media Queries for Responsive Design */
  @media (min-width: 768px) {
    .about__container {
      flex-direction: row;
      align-items: flex-start;
      padding: 0 2rem;
    }
  
    .about__img {
      width: 360px;
      height: 360px;
      margin-right: 2rem;
      margin-top: 0;
      order: 0;
    }
  
    .about__description {
      max-width: 670px;
      margin-top: 0;
    }
  
    .about__info {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }
  
  @media (min-width: 1024px) {
    .about__container {
      padding: 0 4rem;
    }
  
    .about__img {
      margin-right: 4rem;
    }
  }