.home__container {
    row-gap: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.home__description {
    text-align: left;
    direction: ltr;   
    margin: 16px 0;  
    font-size: 17px;
    line-height: 1.5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 400px;
    margin-bottom: var(--mb-3);
}


.home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    display: grid;
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 2rem;
    margin-left:110px;
}

.home__social-icon {
    font-size: 2.2rem;
    color: rgb(86, 73, 73);
}

.home__social-icon:hover {
    color: rgba(0, 0, 255, 0.753);
}

.home__title {
    font-size: 48px;
    margin-bottom: var(--mb-0-25);
    color:rgba(25, 24, 24, 0.792)
}

.home__hand {
    width: 38px;
    height: 38px;
    margin-left: 0.5rem;
}

.home__subtitle {
    position:relative;
    font-size: 23px;
    font-style: italic;
    padding-left: 0rem;
    font-weight: 450;
    margin-bottom: 25px;
    direction: ltr;
}

.home__img {
    background: url(../../media/Myself.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.4);
    order: 0;
    justify-self: center;
    margin-left: 10px;
    width: 300px;
    height: 300px;
    animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

/* =========BREAK POINTS==============*/

@media screen and (max-width: 992px) {
    .home__content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home__hand {
        width: 26px;
        height: 26px;
    }

    .home__subtitle {
        padding-left: 3.75rem;
        margin-bottom: var(--mb-1);
    }

    .home__description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home__img {
        width: 250px;
        height: 250px;
        box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.4);
    }

}

/* For medium devices */
@media screen and (max-width: 768px) {
    .home__content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .home__img {
        order: initial;
        justify-self: initial;
    }

    .home__data {
        grid-column: 1/3;
    }

    .home__img {
        box-shadow: 5px 5px 25px 4px rgba(0, 0, 0, 0.4);
        width: 200px;
        height: 200px;
    }
}


/* For small devices */
@media screen and (max-width: 350px) {
    .home__img {
        width: 180px;
        height: 180px;    
    }

    .home__hand {
        width: 22px;
        height: 22px;
    }
}


.button-container {
    text-align: left;
}

.button {
    background-color:rgb(86, 73, 73);
    border-radius: 1rem;
    color: white;
    display: inline-block;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic;
    font-weight: var(--font-medium);
    text-decoration: none;
    padding: 1.25rem 2rem;
    margin-top: 50px;
    text-align: left;
}

.button--flex {
    align-items: left;
    display: inline-flex;
}

.button:hover {
    background-color: black;
}

.button__icon {
    margin-left: 0.3rem;
    fill: white; 
    
}


